.header{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header img{
    width: 120px;
    header: 120px;
}

.header .title-group{
    padding-left: 25px;
}
.header .title-group i{
    padding-right: 5px;
}
