<mat-card>
    <mat-card-title>Altere o produto</mat-card-title>
    <mat-card-subtitle>Realize as alterações necessárias</mat-card-subtitle>
    <form class="form-container">
        <mat-form-field>
            <input 
                matInput 
                placeholder="Nome do Produto" 
                [(ngModel)]="product.name"
                name="name"
            > <!--Dando error falta colocar aqui [(ngModel)]="product.name" -->
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput 
                placeholder="Preço(R$) do Produto" 
                [(ngModel)]="product.price"
                name="price"
            > 
            <!--Dando error falta colocar aqui [(ngModel)]="product.price" -->
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="cancel()" appButton>
        Voltar
    </button>
    <button mat-raised-button (click)="updateProduct()" appButton>
        Atualizar
    </button>
</mat-card>

