.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
}

.header{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.content{
    display: flex;

}

table{
    margin-top: 16px;
    border: 1px solid #ff8c00;
    border-radius: 2px;
    width: 540px;
}
table th, tr, td{
    padding: 12px;
    text-align: left;
    border: 1px solid #ff8c00;
}

